<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2015 "Henry Tao <hi@henrytao.me>"
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.henrytao.smoothappbarlayoutdemo">

  <uses-permission android:name="com.android.vending.BILLING" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:label="@string/app_name"
      android:name=".activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_info"
      android:name=".activity.InfoActivity" />
    <activity
      android:label="@string/title_activity_gsd_scroll"
      android:name=".activity.GsdScrollActivity" />
    <activity
      android:label="@string/title_activity_gsd_scroll_enter_always"
      android:name=".activity.GsdScrollEnterAlwaysActivity" />
    <activity
      android:label="@string/title_activity_gsd_scroll_enter_always_collapsed"
      android:name=".activity.GsdScrollEnterAlwaysCollapsedActivity" />
    <activity
      android:label="@string/title_activity_gsd_scroll_exit_until_collapsed"
      android:name=".activity.GsdScrollExitUntilCollapsedActivity" />
    <activity
      android:label="@string/title_activity_gsd_scroll_snap"
      android:name=".activity.GsdScrollSnapActivity" />
    <activity
      android:label="@string/title_activity_gsd_scroll_quick_return"
      android:name=".activity.GsdScrollQuickReturnActivity" />
    <activity
      android:label="@string/title_activity_smooth_scroll"
      android:name=".activity.SmoothScrollActivity" />
    <activity
      android:label="@string/title_activity_smooth_scroll_enter_always"
      android:name=".activity.SmoothScrollEnterAlwaysActivity" />
    <activity
      android:label="@string/title_activity_smooth_scroll_enter_always_collapsed"
      android:name=".activity.SmoothScrollEnterAlwaysCollapsedActivity" />
    <activity
      android:label="@string/title_activity_smooth_scroll_exit_until_collapsed"
      android:name=".activity.SmoothScrollExitUntilCollapsedActivity" />
  </application>
</manifest>
